body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculator {
    background-color: #222222;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 2em;
    margin-bottom: 10px;
    width: 100%;
    text-align: right;
    padding: 10px;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    font-size: 1.5em;
    padding: 10px 20px;
    width: 23%;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid black;
    color: white;
}
button {
    font-size: 1.5em;
    padding: 10px 20px;
    width: 23%;
    cursor: pointer;
    border-radius: 50px;
    background-color: #7c7c7c;
}
#equals{
    width: 230px;
    background-color: white;
    color: black;
}

.operator {
    background-color: #ff9800;
}

button:focus {
    outline: none;
}


